@import "tailwindcss";

@theme {
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);

  /* hover should be 7% less than original */
  --color-primary: oklch(45% 0.24 277.023);
  --color-primary-hover: oklch(38% 0.24 277.023);
  --color-primary-content: oklch(93% 0.034 272.788);

  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-hover: oklch(58% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);

  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-hover: oklch(70% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);

  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-hover: oklch(30% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);

  --color-info: oklch(74% 0.16 232.661);
  --color-info-hover: oklch(67% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);

  --color-success: oklch(76% 0.177 163.223);
  --color-success-hover: oklch(69% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);

  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-hover: oklch(75% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);

  --color-error: oklch(71% 0.194 13.428);
  --color-error-hover: oklch(64% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
}

.theme-forest {
  --color-base-100: oklch(20.84% 0.008 17.911);
  --color-base-200: oklch(18.522% 0.007 17.911);
  --color-base-300: oklch(16.203% 0.007 17.911);
  --color-base-content: oklch(83.768% 0.001 17.911);

  --color-primary: oklch(68.628% 0.185 148.958);
  --color-primary-hover: oklch(61.628% 0.185 148.958);
  --color-primary-content: oklch(0% 0 0);

  --color-secondary: oklch(69.776% 0.135 168.327);
  --color-secondary-hover: oklch(62.776% 0.135 168.327);
  --color-secondary-content: oklch(13.955% 0.027 168.327);

  --color-accent: oklch(70.628% 0.119 185.713);
  --color-accent-hover: oklch(63.628% 0.119 185.713);
  --color-accent-content: oklch(14.125% 0.023 185.713);

  --color-neutral: oklch(30.698% 0.039 171.364);
  --color-neutral-hover: oklch(27.698% 0.039 171.364);
  --color-neutral-content: oklch(86.139% 0.007 171.364);

  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-hover: oklch(65.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);

  --color-success: oklch(64.8% 0.15 160);
  --color-success-hover: oklch(57.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);

  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-hover: oklch(77.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);

  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-hover: oklch(64.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
}

.docs-story {
  background-color: var(--color-base-200);
}